<html lang="en">
<head>
    <title>Register</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
            <form id="myform" action="/signup" method="post" onsubmit="return validation()">
                <h3 class="text-center">Create your account</h3>

                {% if message %}
                <p class="alert alert-danger">{{ message }}</p>
                {% endif %}

                <div class="form-group">
                    <input class="form-control item" type="text" name="username" id="username" placeholder="Username" onchange="validation()" value="{{ username }}">
                    <span id="error_username"> </span>
                </div>

                <div class="form-group">
                    <input class="form-control item" type="password" name="password" id="password" placeholder="Password" onchange="validation()">
                    <span id="error_password"> </span>
                </div>

                <div class="form-group">
                    <input class="form-control item" type="password" name="confirm-password" id="confirm_password" placeholder="confirm Password" onkeydown="validation()">
                    <span id="error_confirm"> </span>
                </div>

                <div class="form-group">
                    <button class="btn btn-primary btn-block create-account" type="submit">Create Account</button>
                </div>
                <hr />
                <p class="text-center">Do you have an account already? <br /><a href="/login"> Login</a></p>

            </form>
</body>
</html>
